/*
#bb8fce
#a569bd
#8e44ad
#7d3c98
#6c3483
#5b2c6f
*/
/*definicion de varibles*/
:root {
    --color-primary: #5b2c6f;
    --color-secondary: #6c3483;
    --color-tertiary: #7d3c98;
    --color-quatiary: #8e44ad;
    --color-quintiary: #a569bd;
    --color-sextiary: #bb8fce;
    --color-black: black;
    --color-white: white;
    --color-white-smoke: #fcfcfc;
    --color-gray: #ebebeb;
    --color-gray-light: #bfbebe;
    --color-gray-extra-light: #eaeaea;
    --font-size: 17px;
}

/*selector universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    list-style: none;
    text-decoration: none;
    font-family: "SUSE", sans-serif;
}

body {
    background: var(--color-quatiary);
}

.hidden {
    display: none !important;
}

/*Estilos carga o load*/
.box-load {
    position: fixed;
    background: var(--color-white-smoke);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 6.5rem;
    height: 6.5rem;
    border: 1rem solid var(--color-quatiary);
    border-top: 1rem solid var(--color-primary);
    border-radius: 100%;
    animation: spin 1s infinite linear;
    margin-bottom: 5rem;
}

.box-load>img {
    position: absolute;
    width: 10rem;
    transition: all 1s ease-in-out;
    animation: correr 2s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes correr {
    0% {
        left: 0;
    }

    10% {
        left: 10%;
    }

    20% {
        left: 20%;
    }

    30% {
        left: 30%;
    }

    40% {
        left: 40%;
    }

    50% {
        left: 50%;
    }

    60% {
        left: 60%;
    }

    70% {
        left: 70%;
    }

    80% {
        left: 80%;
    }

    90% {
        left: 90%;
    }

    100% {
        right: 0;
    }
}

/*Estilos login*/

.login-header {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sing {
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 0.2rem;
}

.active {
    border-bottom: 0.2rem solid var(--color-quatiary);
}

.inactive {
    color: gray;
    border-bottom: 0.2rem solid var(--color-white-smoke);
    transition: all 0.6s ease-in-out;
}

.inactive:hover {
    color: var(--color-black);
    border-bottom: 0.2rem solid var(--color-quatiary);
}

.login-footer {
    padding: 1rem;
    text-align: center;
    font-weight: 600;
    border-top: 0.2rem solid var(--color-gray-light);
    background: var(--color-gray-extra-light);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.login-footer>a {
    color: var(--color-quatiary);
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
    border-bottom: 0.2rem solid var(--color-gray-extra-light);
    transition: border-bottom 500ms ease-in-out;
}

.login-footer>a:hover {
    border-bottom: 0.2rem solid var(--color-quatiary);
}

.login-body {
    padding: 1rem;
}

.input-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input>input {
    padding: 0.5rem;
    background: var(--color-gray-light);
    border: none;
    outline: none;
    border-bottom: 0.2rem solid var(--color-white-smoke);
    transition: all 500ms ease-in-out;
    color: var(--color-quatiary);
    font-size: 1.2rem;
    border-radius: 0.1rem;
}

.input>input:focus {
    background: var(--color-white);
    border-bottom: 0.2rem solid var(--color-quatiary);
}

.input>label {
    font-weight: 600;
    font-style: oblique;
    font-size: 1.1rem;
    color: var(--color-quatiary);
}

.button>button {
    border: none;
    outline: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
    color: var(--color-white-smoke);
    font-size: 1.2rem;
    background: var(--color-quatiary);
    cursor: pointer;
    transition: all 400ms ease-in-out;
    border-radius: 0.1rem;
}

.button>button:hover {
    background: var(--color-tertiary);
    box-shadow: 0rem 0rem 0.5rem var(--color-quatiary);
}

/*estilos del chat*/
.box-chat {
    width: 95%;
    height: 90%;
    background: var(--color-white-smoke);
    border-radius: 0.2rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
}
.chat-list{
    width: 25%;
    height: 100%;
    background-color: #6c3483;
}

/*Moviles pequeños*/
@media only screen and (max-width:480px) {

    /*estilos login*/
    .box-login {
        width: 20rem;
        background: var(--color-white-smoke);
        border-radius: 0.5rem;
        margin: 5rem auto 0 auto;
        box-shadow: 0rem 0rem 0.5rem var(--color-black);
    }

}

/*Moviles grandes y tabletas*/
@media only screen and (min-width:481px) and (max-width:767px) {

    /*estilos login*/
    .box-login {
        width: 26rem;
        background: var(--color-white-smoke);
        border-radius: 0.5rem;
        margin: 10rem auto 0 auto;
        box-shadow: 0rem 0rem 0.5rem var(--color-black);
    }
}

/*Tabletas y dispositivos medianos*/
@media only screen and (min-width:768px) and (max-width:1024px) {

    /*estilos login*/
    .box-login {
        width: 26rem;
        background: var(--color-white-smoke);
        border-radius: 0.5rem;
        margin: 10rem auto 0 auto;
        box-shadow: 0rem 0rem 0.5rem var(--color-black);
    }
}

/*PC´s pequeños y laptops*/
@media only screen and (min-width:1025px) and (max-width:1200px) {

    /*estilos login*/
    .box-login {
        width: 26rem;
        background: var(--color-white-smoke);
        border-radius: 0.5rem;
        margin: 10rem auto 0 auto;
        box-shadow: 0rem 0rem 0.5rem var(--color-black);
    }
}

/*PC´s grandes y monitores*/
@media only screen and (min-width:1201px) {

    /*estilos login*/
    .box-login {
        width: 26rem;
        background: var(--color-white-smoke);
        border-radius: 0.5rem;
        margin: 10rem auto 0 auto;
        box-shadow: 0rem 0rem 0.5rem var(--color-black);
    }
}